<div>
    <h1>Confirm your address</h1>
    <h2>Your address is only shared with guests after they've made a reservation.</h2>
    <div>
        <%= form_with(url: new_listing_path, local: true) do |f| %>
        <div>
            <%= f.label :address %>
            <%= f.text_field :address, class: "search-input" %>
        </div>
        <p><strong>City:</strong> <%= @listing.city %></p>
         <p><strong>Zipcode:</strong> <%= @listing.zipcode %></p>

        <div>
            <%= f.label "Apt, floor, etc (if applicable)" %>
            <%= f.text_field :room_detail %>
        </div>
        <div>
            <%= f.label "State/Territory" %>
            <%= f.text_field :state %>
        </div>
        <div>
            <%= f.label "ZIP code" %>
            <%= f.text_field :zip_code %>
        </div>
        <% end %>
    </div>
</div>