<% content_for :listing do %>
  <%= stylesheet_link_tag 'listings', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="listing-creation">
  <header class="header">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag @logo_url, alt: "Logo", height: 32, width: 32 %>
    <% end %>
    
    <div class="header-actions">
      <button class="questions-btn">Questions?</button>
      <button class="save-exit-btn">Save & exit</button>
    </div>
  </header>

  <main class="main-content">
    <div class="step-indicator">
      <p>Step <%= @current_step %></p>
    </div>

  <% if @current_step.to_i == 1 %>
    <div class="content-container">
    <div class="text-content">
         <h1 class="title">Tell us about your place</h1>
        <p class="description">
            In this step, we'll ask you which type of property you have and 
            if guests will book the entire place or just a room. Then let us 
            know the location and how many guests can stay.
        </p>
    </div>
    
      <div class="video-content">
        <video data-testid="video-player" class="v186kq3t dir dir-ltr" autoplay muted crossorigin="anonymous" playsinline preload="auto" style="object-fit: cover;">
          <source type="video/mp4" src="https://stream.media.muscache.com/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4?v_q=high">
        </video>
      </div>
    </div>
    <% elsif @current_step.to_i == 2%>
      <h1 class="title">Which of these best describes your place?</h1>
          <div class="rental-types-grid">
            <% @rental_types.each do |rental_type| %>
            <%= link_to new_listing_path(step: @current_step, rental_type_id: rental_type.id), method: :patch, class: (params[:rental_type_id] == rental_type.id ? "rental-type-card-selected" : "rental-type-card") do %>
                <div class="rental-type-icon">
                  <%= image_tag rental_type[:image_url], alt: rental_type[:name], class: "icon" %>
                </div>
                <p class="rental-type-name"><%= rental_type[:name] %></p>
              <% end %>
            <% end %>
          </div>
      <% else %>
      <div>
        <%= render 'new_location' %>
        </div>
      <% end %>

    <div class="navigation-buttons">
      <%= link_to "Back", new_listing_path(step: [@current_step.to_i - 1, 1].max), class: "back-btn" unless @current_step.to_i == 1 %>
      <% if @current_step.to_i == 2 and @selected_rental_type.nil? %>
        <button class="next-btn" disabled>Next</button>
      <% else %>
        <%= link_to "Next", new_listing_path(step: [@current_step.to_i + 1, 3].min), class: "next-btn" %>
      <% end %>
    </div>
  </main>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rentalTypeCards = document.querySelectorAll('.rental-type-card');
    const nextButton = document.getElementById('next-btn');

    rentalTypeCards.forEach(card => {
      card.addEventListener('click', () => {
        console.log("CARD: ", card);
        const rentalTypeId = card.getAttribute('data-rental-type-id');

        // Send AJAX request to update rental_type_id
        fetch('<%= new_listing_path %>', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ rental_type_id: rentalTypeId, step: <%= @current_step %> })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // const selectedRentalCard = rentalTypeCards.find((c) => c.id === rentalTypeId)
            rentalTypeCards.forEach(c => c.classList.remove('selected'));
            console.log("Card.classList: ", card.classList);
            card.classList.add('selected');
            nextButton.removeAttribute('disabled');
          }
        });
      });
    });
  });
</script>