<% content_for :listing do %>
  <%= stylesheet_link_tag 'listings', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="listing-creation">
  <header class="header">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag @logo_url, alt: "Logo", height: 32, width: 32 %>
    <% end %>
    
    <div class="header-actions">
      <button class="questions-btn">Questions?</button>
      <button class="save-exit-btn">Save & exit</button>
    </div>
  </header>

  <main class="main-content">
    <div class="step-indicator">
      <p>Step <%= @current_step %></p>
    </div>

    <div class="content-container">
    <div class="text-content">
         <h1 class="title">Tell us about your place</h1>
        <p class="description">
            In this step, we'll ask you which type of property you have and 
            if guests will book the entire place or just a room. Then let us 
            know the location and how many guests can stay.
        </p>
    </div>
    
      <div class="video-content">
        <video data-testid="video-player" class="v186kq3t dir dir-ltr" autoplay muted crossorigin="anonymous" playsinline preload="auto" style="object-fit: cover;">
          <source type="video/mp4" src="https://stream.media.muscache.com/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4?v_q=high">
        </video>
      </div>
    </div>

    <div class="navigation-buttons">
      <%= link_to "Back", new_listing_path(step: [@current_step.to_i - 1, 1].max), class: "back-btn" unless @current_step.to_i == 1 %>
      <%= link_to "Next", new_listing_path(step: [@current_step.to_i + 1, 3].min), class: "next-btn" %>
    </div>
  </main>
</div>