<% content_for :listing do %>
  <%= stylesheet_link_tag 'listings', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="listing-creation">
  <header class="header">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag @logo_url, alt: "Logo", height: 32, width: 32 %>
    <% end %>
    
    <div class="header-actions">
      <button class="questions-btn">Questions?</button>
      <button class="save-exit-btn">Save & exit</button>
    </div>
  </header>

  <main class="main-content">
    <div class="step-indicator">
      <p>Step <%= @current_step %></p>
    </div>

  <% if @current_step.to_i == 1 %>
    <%= render 'welcome_page' %>
    <% elsif @current_step.to_i == 2%>
      <%= render 'select_rental_type' %>
    <% elsif @current_step.to_i == 3 %>
      <%= render 'new_location' %>
    <% elsif @current_step.to_i == 4%>
      <%= render 'provide_rental_basics' %>
    <% elsif @current_step.to_i == 5 %>
        <%= render 'confirm_details' %>
    <% end %>
  </main>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rentalTypeCards = document.querySelectorAll('.rental-type-card');
    const nextButton = document.getElementById('next-btn');

    rentalTypeCards.forEach(card => {
      card.addEventListener('click', () => {
        console.log("CARD: ", card);
        const rentalTypeId = card.getAttribute('data-rental-type-id');

        // Send AJAX request to update rental_type_id
        fetch('<%= new_rental_path %>', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ rental_type_id: rentalTypeId, step: <%= @current_step %> })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            rentalTypeCards.forEach(c => c.classList.remove('selected'));
            console.log("Card.classList: ", card.classList);
            card.classList.add('selected');
            nextButton.removeAttribute('disabled');
          }
        });
      });
    });
  });
</script>